*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    position: relative;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: 
linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%)
;
    background-color: rgb(254, 163, 170);
    background-size: 100% 100%;
    min-height: 100%;
    
}
.bg2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #000000;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(2px);
    background-color: #000000;
opacity: 1;
background-image:  linear-gradient(30deg, #151517 12%, transparent 12.5%, transparent 87%, #151517 87.5%, #151517), linear-gradient(150deg, #151517 12%, transparent 12.5%, transparent 87%, #151517 87.5%, #151517), linear-gradient(30deg, #151517 12%, transparent 12.5%, transparent 87%, #151517 87.5%, #151517), linear-gradient(150deg, #151517 12%, transparent 12.5%, transparent 87%, #151517 87.5%, #151517), linear-gradient(60deg, #15151777 25%, transparent 25.5%, transparent 75%, #15151777 75%, #15151777), linear-gradient(60deg, #15151777 25%, transparent 25.5%, transparent 75%, #15151777 75%, #15151777);
background-size: 36px 63px;
background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;
}
main{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.keyboard{
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFFFF4;
    border: 2px solid #464646 ;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform: translateY(20%);
    z-index: 10;
}
.keyboard .instructions{
    position: absolute;
    top: -40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    color: #919191;
    z-index: 10;
}
.container{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "esc one two three four five six seven eight nine zero minus plus clear clear"
      "tab tab q w e r t y u i o p sq-brckt-l sq-brckt-r slash-l"
      "capslock capslock a s d f g h j k l semicolon quote enter enter"
      "shift shift z x c v b n m comma fullstop slash-r shift2 arrow-up delete"
      "ctrl ctrl fn win alt spacebar spacebar spacebar spacebar spacebar alt2 win2 arrow-left arrow-dwn arrow-right";
    height: 90%;
    width: 100%;
    border: 3px solid #464646;
    border-radius: 10px;
    background: #464646;
}

.containerrgb{  
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "esc one two three four five six seven eight nine sq-brckt-l minus plus clear clear"
      "tab tab h a c k w t v e slash-r f r s zero "
      "capslock capslock y l d o g q j i p semicolon quote enter enter"
      "shift shift z x u sq-brckt-r b n m comma fullstop slash-l shift2 arrow-up delete"
      "ctrl ctrl fn win alt spacebar spacebar spacebar spacebar spacebar alt2 win2 arrow-left arrow-dwn arrow-right";
    height: 90%;
    transition: 75ms;
    border: 3px solid #000000;
    border-radius: 10px;
    background: #000000;    
}
.cardslider{
    width: 95%;
    height: 5px;
    background-color: #4b4b4b;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.card{
    position: absolute;
    bottom: 2.5px;
    left: 0.5%;
    height: 170px;
    width: 250px;
    background-color: #4ff;
    animation: slide 5s ease-in-out infinite alternate-reverse both;
    transition: all 0.5s ease-in-out;
}
@keyframes slide{
    0%{
        left: 0.5%;
    }
    100%{
        left: 73%;
    }
}
.key{
    width: 100%;
    height: 90%;
    border: 1.5px solid #464646;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
    transition: all 0.4s ease-in-out;
}
.key:hover{
    opacity: 0.9;
    transform: scale(0.95);
    cursor: pointer;
}
.esc{
    grid-area: esc;
} 
.one{
    grid-area: one;
} 
.two{
    grid-area: two;
} 
.three{
    grid-area: three;
} 
.four{
    grid-area: four;
} 
.five{
    grid-area: five;
} 
.six{
    grid-area: six;
} 
.seven{
    grid-area: seven;
} 
.eight{
    grid-area: eight;
} 
.nine{
    grid-area: nine;
} 
.zero{
    grid-area: zero;
} 
.minus{
    grid-area: minus;
} 
.plus{
    grid-area: plus;
} 
.clear{
    grid-area: clear;
} 
.tab{
    grid-area: tab;
} 
.w{
    grid-area: w;
} 
.e{
    grid-area: e;
} 
.r{
    grid-area: r;
} 
.t{
    grid-area: t;
} 
.y{
    grid-area: y;
} 
.u{
    grid-area: u;
} 
.i{
    grid-area: i;
} 
.o{
    grid-area: o;
} 
.p{
    grid-area: p;
} 
.sq-brckt-l{
    grid-area: sq-brckt-l;
} 
.sq-brckt-r{
    grid-area: sq-brckt-r;
} 
.capslock{
    grid-area: capslock;
} 
.a{
    grid-area: a;
} 
.s{
    grid-area: s;
} 
.d{
    grid-area: d;
} 
.f{
    grid-area: f;
} 
.g{
    grid-area: g;
} 
.h{
    grid-area: h;
} 
.j{
    grid-area: j;
} 
.k{
    grid-area: k;
} 
.l{
    grid-area: l;
} 
.semicolon{
    grid-area: semicolon;
} 
.enter{
    grid-area: enter;
} 
.enter i{
    transform: rotate(90deg);
}
.shift{
    grid-area: shift;
} 
.z{
    grid-area: z;
} 
.x{
    grid-area: x;
} 
.c{
    grid-area: c;
} 
.v{
    grid-area: v;
} 
.b{
    grid-area: b;
} 
.n{
    grid-area: n;
} 
.m{
    grid-area: m;
} 
.quote{
    grid-area: quote;
} 
.comma{
    grid-area: comma;
} 
.fullstop{
    grid-area: fullstop;
} 
.slash-l{
    grid-area: slash-l;
} 
.slash-r{
    grid-area: slash-r;
} 
.shift2{
    grid-area: shift2;
} 
.arrow-up{
    grid-area: arrow-up;
} 
.delete{
    grid-area: delete;
} 
.ctrl{
    grid-area: ctrl;
} 
.fn{
    grid-area: fn;
} 
.win{
    grid-area: win;
} 
.alt{
    grid-area: alt;
} 
.arrow-right{
    grid-area: arrow-right;
} 
.arrow-dwn{
    grid-area: arrow-dwn;
} 
.arrow-left{
    grid-area: arrow-left;
} 
.win2{
    grid-area: win2;
} 
.alt2{
    grid-area: alt2;
} 
.spacebar{
    grid-area: spacebar;
} 
.q{
    grid-area: q;
}
.btn{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
}
@keyframes colorchange{
    0% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	14% {box-shadow: 0 0 16px #f1f424;}
	28% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	70% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	85% {box-shadow: 0 0 16px rgba(43,224,99,1);}
}
.rr{
	box-shadow: 0 0 16px rgba(237, 45, 45,1);
	animation: rotate-scale-down 0.55s ease-in 25ms both, rr 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rr{
	0% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	14% {box-shadow: 0 0 16px #f1f424;}
	28% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	70% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	85% {box-shadow: 0 0 16px rgba(43,224,99,1);}
}
.rg{
	box-shadow: 0 0 16px rgba(43,224,99,1);
	animation: rotate-scale-down 0.55s ease-in 25ms both, rg 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rg{
	0% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	14% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	28% {box-shadow: 0 0 16px #f1f424;}
	42% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	70% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	85% {box-shadow: 0 0 16px rgba(120,200,208,1);}
}
.rgh{
	box-shadow: 0 0 16px rgba(43,82,224,1);
    background-color: black;
    color: white;
    
}
.rgb{
	box-shadow: 0 0 16px rgba(120,200,208,1);
	animation: rotate-scale-down 0.55s ease-in-out 25ms both, rgb 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgb{
	0% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	14% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	28% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	42% {box-shadow: 0 0 16px #f1f424;}
	57% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	70% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	85% {box-shadow: 0 0 16px rgba(224,43,213,1);}
}
.yellow{
	box-shadow: 0 0 16px #f1f424;
	animation: rotate-scale-down 0.55s ease-in-out 25ms both, yellow 3s linear infinite;
    background-color: black;
    color: #fff;
    
}
@keyframes rotate-scale-down {
    0% {
              transform: scale(1) rotateZ(0);
    }
    50% {
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
              transform: scale(1) rotateZ(360deg);
    }
  }
  
@keyframes yellow{
	0% {box-shadow: 0 0 16px #f1f424;}
	14% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	28% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	57% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	70% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	85% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
}
.rg4{
	box-shadow: 0 0 16px rgb(208,120,151,1);
    background-color: black;
    color: white;
    animation: rotate-scale-down 0.55s ease-in-out 25ms both;
}
.rgb4{
	box-shadow: 0 0 16px rgba(224,43,213,1);
	animation: rotate-scale-down 0.55s ease-in-out 25ms both, rgb4 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgb4{
	0% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	14% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	28% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	42% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	57% {box-shadow: 0 0 16px #f1f424;}
	70% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	85% {box-shadow: 0 0 16px rgba(224,43,76,1);}
}
.rgg{
	box-shadow: 0 0 16px rgba(224,117,43,1);
	animation: rotate-scale-down 0.55s ease-in-out 25ms both, rgg 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgg{
	0% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	14% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	28% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	42% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	57% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	70% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	85% {box-shadow: 0 0 16px #f1f424;}
}
.rgf{
	box-shadow: 0 0 16px rgba(224,43,76,1);
	animation: rotate-scale-down 0.55s ease-in-out 25ms both, rgf 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgf{
	0% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	14% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	28% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	42% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	57% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	70% {box-shadow: 0 0 16px #f1f424;}
	85% {box-shadow: 0 0 16px rgba(224,117,43,1);}
}
@keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(1.1);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(1.3);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(1.4);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }
.containerrgb .key p{
    opacity: 0.4;
    /* animation: move 35s linear infinite; */
}
  .containerrgb .h p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    /* color: rgba(224,43,213,1); */
      animation: heartbeat 1.5s ease-in-out infinite both;
      font-weight: 900;
      font-size:1.5rem;
      opacity:1;
  } 
  .containerrgb .a p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(224,43,213,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .c p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(43,82,224,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .k p,.containerrgb .sq-brckt-r>p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(43,82,224,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
}
.containerrgb .s p,.containerrgb #b>p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #4ff; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .v p,.containerrgb #n>p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #4ff; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
}  
.containerrgb .e p,.containerrgb #m>p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(43,224,99,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} .containerrgb .r p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(43,224,99,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} .containerrgb .f p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #f1f424; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .t p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #f1f424; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .zero p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(237, 45, 45,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .w p,.containerrgb .slash-r p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(224,43,76,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .g p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #4ff; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .q p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #4ff; */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.containerrgb .j p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("https://media3.giphy.com/media/RsWTBRWrA071LXNMXM/giphy.gif?cid=790b7611a8923285796dfc188617fc152517c6e753e8a43e&rid=giphy.gif&ct=g");
    /* background-image: url("https://cutewallpaper.org/25/animated-wallpaper-gif-chage-color/best-yellow-background-gifs-gfycat.gif"); */
    /* background-image: url("https://thumbs.gfycat.com/DecimalPositiveCygnet-size_restricted.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/74/7a/40/747a401c0daac6b580fd1ffc4e5c3039.gif"); */
    background-size: 70px 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(43,224,99,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 
.header_right{
    width: 90%;
    display: block;
    opacity: 0;
    margin-left: 200px;
    position: absolute;
    top: 25px;
    right: 45px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}
.header_right .tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.header_right .tab a{
    text-decoration: none;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #000000;
    /* background: linear-gradient(145deg, #202020, #0c0a0a); */
    color: #919191;
    padding:15px 15px;
    margin-top: 10px;
    letter-spacing: 2px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;  
    box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    font-size: 1.2rem;
    font-weight: 500;
    /* opacity: 0.8; */
}
.header_right .tab a p{
    font-size:0.9rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
.header_right .tab a:hover p{
    font-size: 1rem;
    opacity: 1;
}
.header_right .tab a:hover{
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    color: #fff;
    /* opacity: 1; */
}

    