@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Stint+Ultra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
}

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
body main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    position: relative;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: 
linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%)
;
    background-color: rgb(254, 163, 170);
    background-size: 100% 100%;
    min-height: 100%;
    
}
.bg2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ee0154' fill-opacity='0.31' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.keyboard{
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 2px solid #464646 ;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform: translateY(20%);
    z-index: 2;
}
.keyboard .instructions{
    position: absolute;
    top: -40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    color: #b8b8b8;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
}
.container{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "esc one two three four five six seven eight nine zero minus plus clear clear"
      "tab tab q w e r t y u i o p sq-brckt-l sq-brckt-r slash-l"
      "capslock capslock a s d f g h j k l semicolon quote enter enter"
      "shift shift z x c v b n m comma fullstop slash-r shift2 arrow-up delete"
      "ctrl ctrl fn win alt spacebar spacebar spacebar spacebar spacebar alt2 win2 arrow-left arrow-dwn arrow-right";
    height: 90%;
    width: 100%;
    border: 3px solid #464646;
    border-radius: 10px;
    background: #464646;
}
.container>#ghost{
    display: none;
}
.containerrgb{  
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "esc one two three four five six seven eight nine zero minus plus clear clear"
      "tab ghost q w e r t y u i o p sq-brckt-l sq-brckt-r slash-l"
      "capslock capslock a s d f g h j k l semicolon quote enter enter"
      "shift shift z x c v b n m comma fullstop slash-r shift2 arrow-up delete"
      "ctrl ctrl fn win alt spacebar spacebar spacebar spacebar spacebar alt2 win2 arrow-left arrow-dwn arrow-right";
    height: 90%;
    transition: 75ms;
    border: 3px solid #000000;
    border-radius: 10px;
    background: #000000;    
}
.cardslider{
    width: 95%;
    height: 5px;
    background-color: #4b4b4b;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.card{
    position: absolute;
    bottom: 2.5px;
    left: 0.5%;
    height: 100px;
    width: 250px;
    background-color: #464646;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23faf884' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    animation: slide 7s ease-in-out infinite alternate-reverse both;
    transition: all 0.125s linear;
    display: grid;
    place-items: center;
    z-index: 30;
    border-radius: 12px 12px 0 0;
}
.card b{
    text-align: center;
    color: rgb(187, 187, 187);
    font-size: 1.1rem;
}
.card b:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    color: #fff;
    animation: loadingtext 2.5s linear infinite;
}
@keyframes loadingtext {
    0% {
        max-width: 0;
    }
}
@keyframes slide{
    0%{
        left: 0.5%;
    }
    100%{
        left: 73%;
    }
}
.key{
    width: 100%;
    height: 90%;
    border: 1.5px solid #464646;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
    transition: all 0.4s ease-in-out;
}
.key:hover{
    opacity: 0.9;
    transform: scale(0.95);
    cursor: pointer;
}
.esc{
    grid-area: esc;
} 
.one{
    grid-area: one;
} 
.two{
    grid-area: two;
} 
.three{
    grid-area: three;
} 
.four{
    grid-area: four;
} 
.five{
    grid-area: five;
} 
.six{
    grid-area: six;
} 
.seven{
    grid-area: seven;
} 
.eight{
    grid-area: eight;
} 
.nine{
    grid-area: nine;
} 
.zero{
    grid-area: zero;
} 
.minus{
    grid-area: minus;
} 
.plus{
    grid-area: plus;
} 
.clear{
    grid-area: clear;
} 
.tab{
    grid-area: tab;
} 
.w{
    grid-area: w;
} 
.e{
    grid-area: e;
} 
.r{
    grid-area: r;
} 
.t{
    grid-area: t;
} 
.y{
    grid-area: y;
} 
.u{
    grid-area: u;
} 
.i{
    grid-area: i;
} 
.o{
    grid-area: o;
} 
.p{
    grid-area: p;
} 
.sq-brckt-l{
    grid-area: sq-brckt-l;
} 
.sq-brckt-r{
    grid-area: sq-brckt-r;
} 
.capslock{
    grid-area: capslock;
} 
.a{
    grid-area: a;
} 
.s{
    grid-area: s;
} 
.d{
    grid-area: d;
} 
.f{
    grid-area: f;
} 
.g{
    grid-area: g;
} 
.h{
    grid-area: h;
} 
.j{
    grid-area: j;
} 
.k{
    grid-area: k;
} 
.l{
    grid-area: l;
} 
.semicolon{
    grid-area: semicolon;
} 
.enter{
    grid-area: enter;
} 
.enter i{
    transform: rotate(90deg);
}
.shift{
    grid-area: shift;
} 
.z{
    grid-area: z;
} 
.x{
    grid-area: x;
} 
.c{
    grid-area: c;
} 
.v{
    grid-area: v;
} 
.b{
    grid-area: b;
} 
.n{
    grid-area: n;
} 
.m{
    grid-area: m;
} 
.quote{
    grid-area: quote;
} 
.comma{
    grid-area: comma;
} 
.fullstop{
    grid-area: fullstop;
} 
.slash-l{
    grid-area: slash-l;
} 
.slash-r{
    grid-area: slash-r;
} 
.shift2{
    grid-area: shift2;
} 
.arrow-up{
    grid-area: arrow-up;
} 
.delete{
    grid-area: delete;
} 
.ctrl{
    grid-area: ctrl;
} 
.fn{
    grid-area: fn;
} 
.win{
    grid-area: win;
} 
.alt{
    grid-area: alt;
} 
.arrow-right{
    grid-area: arrow-right;
} 
.arrow-dwn{
    grid-area: arrow-dwn;
} 
.arrow-left{
    grid-area: arrow-left;
} 
.win2{
    grid-area: win2;
} 
.alt2{
    grid-area: alt2;
} 
.spacebar{
    grid-area: spacebar;
} 
.q{
    grid-area: q;
}
.btn{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
}
@keyframes colorchange{
    0% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	14% {box-shadow: 0 0 16px #f1f424;}
	28% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	70% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	85% {box-shadow: 0 0 16px rgba(43,224,99,1);}
}
.rr{
	box-shadow: 0 0 16px rgba(237, 45, 45,1);
	animation: rotate-scale-down 0.55s ease-in 25ms both, rr 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rr{
	0% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	14% {box-shadow: 0 0 16px #f1f424;}
	28% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	70% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	85% {box-shadow: 0 0 16px rgba(43,224,99,1);}
}
.rg{
	box-shadow: 0 0 16px rgba(43,224,99,1);
	animation: rotate-scale-down 0.55s ease-in 25ms both, rg 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rg{
	0% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	14% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	28% {box-shadow: 0 0 16px #f1f424;}
	42% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	57% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	70% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	85% {box-shadow: 0 0 16px rgba(120,200,208,1);}
}
.rgh{
	box-shadow: 0 0 16px rgba(43,82,224,1);
    background-color: black;
    color: white;
    
}
.rgb{
	box-shadow: 0 0 16px rgba(120,200,208,1);
	animation: rotate-scale-down 0.55s ease-in-out 40ms both, rgb 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgb{
	0% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	14% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	28% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	42% {box-shadow: 0 0 16px #f1f424;}
	57% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	70% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	85% {box-shadow: 0 0 16px rgba(224,43,213,1);}
}
.yellow{
	box-shadow: 0 0 16px #f1f424;
	animation: rotate-scale-down 0.55s ease-in-out 40ms both, yellow 3s linear infinite;
    background-color: black;
    color: #fff;
    
}
@keyframes rotate-scale-down {
    0% {
              transform: scale(1) rotateZ(0);
    }
    50% {
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
              transform: scale(1) rotateZ(360deg);
    }
  }
  
@keyframes yellow{
	0% {box-shadow: 0 0 16px #f1f424;}
	14% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	28% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	42% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	57% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	70% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	85% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
}
.rg4{
	box-shadow: 0 0 16px rgb(208,120,151,1);
    background-color: black;
    color: white;
    animation: rotate-scale-down 0.55s ease-in-out 40ms both;
}
.rgb4{
	box-shadow: 0 0 16px rgba(224,43,213,1);
	animation: rotate-scale-down 0.55s ease-in-out 40ms both, rgb4 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgb4{
	0% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	14% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	28% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	42% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	57% {box-shadow: 0 0 16px #f1f424;}
	70% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	85% {box-shadow: 0 0 16px rgba(224,43,76,1);}
}
.rgg{
	box-shadow: 0 0 16px rgba(224,117,43,1);
	animation: rotate-scale-down 0.55s ease-in-out 40ms both, rgg 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgg{
	0% {box-shadow: 0 0 16px rgba(224,117,43,1);}
	14% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	28% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	42% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	57% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	70% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	85% {box-shadow: 0 0 16px #f1f424;}
}
.rgf{
	box-shadow: 0 0 16px rgba(224,43,76,1);
	animation: rotate-scale-down 0.55s ease-in-out 40ms both, rgf 3s linear infinite;
    background-color: black;
    color: white;
    
}
@keyframes rgf{
	0% {box-shadow: 0 0 16px rgba(224,43,76,1);}
	14% {box-shadow: 0 0 16px rgba(224,43,213,1);}
	28% {box-shadow: 0 0 16px rgba(120,200,208,1);}
	42% {box-shadow: 0 0 16px rgba(43,224,99,1);}
	57% {box-shadow: 0 0 16px rgba(237, 45, 45,1);}
	70% {box-shadow: 0 0 16px #f1f424;}
	85% {box-shadow: 0 0 16px rgba(224,117,43,1);}
}
@keyframes heartbeat {
    from {
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
              transform: scale(1.1);
              animation-timing-function: ease-in;
    }
    17% {
              transform: scale(1.3);
              animation-timing-function: ease-out;
    }
    33% {
              transform: scale(1.4);
              animation-timing-function: ease-in;
    }
    45% {
              transform: scale(1);
              animation-timing-function: ease-out;
    }
  }
.containerrgb .key p{
    opacity: 0.4;
    /* animation: move 35s linear infinite; */
}
  .containerrgb .q p,.containerrgb .w p,.containerrgb .e p,.containerrgb .r p,.containerrgb .t p,
  .containerrgb .y p,.containerrgb .u p,.containerrgb .i p,.containerrgb .o p,.containerrgb .p p,
  .containerrgb .sq-brckt-l p,.containerrgb .sq-brckt-r p,.containerrgb .ghost p,
  .containerrgb .m p,.containerrgb .n p,.containerrgb .comma p,
  .containerrgb .b p, .containerrgb .v p{
    /* background-image: 
    linear-gradient(45deg, rgba(237, 45, 45,1),rgba(224,43,76,1),#f1f424,rgba(43,224,99,1),#4ff,rgba(43,82,224,1),rgba(224,43,213,1)); 
     */
    
    background-image: url("../img/giphy.webp");
    background-size: 70px 70px;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent; 
    /* color: rgba(224,43,213,1); */
    animation: heartbeat 1.5s ease-in-out infinite both;
    font-weight: 900;
    font-size:1.5rem;
    opacity:1;
} 

.header_right{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}
.header_right .tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.header_right .tab a.main, .header_right .tab .events{
    text-decoration: none;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #000000;
    /* background: linear-gradient(145deg, #202020, #0c0a0a); */
    color: #919191;
    padding:15px 15px;
    margin-top: 10px;
    letter-spacing: 2px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;  
    box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    font-size: 1.2rem;
    font-weight: 500;
    /* opacity: 0.8; */
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    box-shadow: 0 0 16px rgba(237, 45, 45,1);
}
.header_right .tab a.main p, .header_right .tab .events p{
    font-size:0.9rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    font-family: 'Graduate', cursive;
}
.header_right .tab a.main:hover p, .header_right .tab .events:hover p{
    font-size: 1rem;
    opacity: 0.9;
}
.header_right .tab a.main:hover, .header_right .tab .events:hover{
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    color: #fff;
}
.imgleft{
    height: 70px;
    width: 225px;
    align-self: flex-start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    z-index: 20;
}
.imgleft img{
    height: 100%;
    width: 100%;
    z-index: 20;
}

.events{
    position: relative;
}
.submenu{
    position: absolute;
    top:60px;
    width: 300px;
    background-color: #000000dc;
    border-radius: 0 0 7px 7px;
    display: none;
    flex-direction: column;
    z-index: 50;
    padding: 15px 0;
}
.submenu a.sub{
    text-decoration: none;
    margin: 0 15px;
    border-radius: 10px;
    color: #919191;
    padding:5px 5px;
    letter-spacing: 2px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;  
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.submenu a p{
    font-size:0.9rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.submenu a:hover p{
    font-size: 1rem;
    opacity: 0.9;
}
.submenu a:hover{
    color: #fff;
}



/* PHONE CSS */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
.phone-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: 
linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.5) 80%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%)
;
    background-color: rgb(254, 163, 170);
    background-size: 100% 100%;
    min-height: 100%;
    
}
.phone-bg2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ee0154' fill-opacity='0.31' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.phone-keyboard{
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 2px solid #464646 ;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform: translateY(20%);
    z-index: 10;
}
.phone-keyboard .phone-instructions{
    position: absolute;
    top: -40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 0;
    color: #b8b8b8;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
}
.phone-container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2.5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "q w e r t y u i o p"
      "a s d f g h j k l and"
      "up-arrow z x c v b n m clear clear"
      "num slash space space space space space space dot enter";
    height: 90%;
    width: 100%;
    border: 3px solid #464646;
    border-radius: 10px;
    background: #464646;
    padding-top: 2.5px;
  }
.phone-containerrgb{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2.5px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "q w e r t y u i o p"
      "a s d f g h j k l and"
      "up-arrow z x c v b n m clear clear"
      "num slash space space space space space space dot enter";
    height: 90%;
    width: 100%;
    transition: 75ms;
    border: 3px solid #000000;
    border-radius: 10px;
    background: #000000;    
    padding: 5px;
}
.phone-cardslider{
    width: 95%;
    height: 5px;
    background-color: #4b4b4b;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
}
.phone-card{
    position: absolute;
    bottom: 2.5px;
    left: 0.5%;
    height: 70px;
    width: 230px;
    background-color: #464646;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23faf884' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    animation: phoneslide 1.5s ease-in-out infinite alternate-reverse both;
    transition: all 0.5s ease-in-out;
    display: grid;
    place-items: center;
    font-family: 'Stint Ultra Condensed', cursive;
}
.phone-card b{
    text-align: center;
    color: rgb(187, 187, 187);
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.5px;
}
.phone-card b:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    color: #fff;
    animation: loadingtext 2.5s linear infinite;
}
@keyframes loadingtext {
    0% {
        max-width: 0;
    }
}
@keyframes phoneslide{
    0%{
        left: 0.5%;
    }
    100%{
        left: 30%;
    }
}
.phone-q{ 
    grid-area: q; 
}  
.phone-w{ 
    grid-area: w; 
}  
.phone-e{ 
    grid-area: e; 
}  
.phone-r{ 
    grid-area: r; 
}  
.phone-t{ 
    grid-area: t; 
}  
.phone-y{ 
    grid-area: y; 
}  
.phone-u{ 
    grid-area: u; 
}  
.phone-i{ 
    grid-area: i; 
}  
.phone-o{ 
    grid-area: o; 
}  
.phone-p{ 
    grid-area: p; 
}  
.phone-a{ 
    grid-area: a; 
}  
.phone-s{ 
    grid-area: s; 
}  
.phone-d{ 
    grid-area: d; 
}  
.phone-f{ 
    grid-area: f; 
}  
.phone-g{ 
    grid-area: g; 
}  
.phone-h{ 
    grid-area: h; 
}  
.phone-j{ 
    grid-area: j; 
}  
.phone-k{ 
    grid-area: k; 
}  
.phone-l{ 
    grid-area: l; 
}  
.phone-and{ 
    grid-area: and; 
}  
.phone-clear{ 
    grid-area: clear; 
}  
.phone-up-arrow{ 
    grid-area: up-arrow; 
}  
.phone-z{ 
    grid-area: z; 
}  
.phone-x{ 
    grid-area: x; 
}  
.phone-c{ 
    grid-area: c; 
}  
.phone-v{ 
    grid-area: v; 
}  
.phone-b{ 
    grid-area: b; 
}  
.phone-n{ 
    grid-area: n; 
}  
.phone-m{ 
    grid-area: m; 
}  
.phone-enter{ 
    grid-area: enter; 
}  
.phone-enter i{
    transform: rotate(90deg);
}
.phone-dot{ 
    grid-area: dot; 
}  
.phone-num{ 
    grid-area: num; 
}  
.phone-slash{ 
    grid-area: slash; 
}  
.phone-space{ 
    grid-area: space; 
}  
.phone-key{
    width: 100%;
    height: 100%;
    border: 1.5px solid #464646;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 1.1rem;
    border-radius: 10px;
    text-align: center;
    background-color: antiquewhite;
    transition: all 0.4s ease-in-out;
}
.phone-key:hover{
    opacity: 0.9;
    transform: scale(0.95);
    cursor: pointer;
}
.phone-containerrgb .key p {
    opacity: 0.4;
}
.phone-rr{
	box-shadow: 0 0 8px rgba(237, 45, 45,1);
	animation: scale 0.55s ease-in 25ms both, phone-rr 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-rg{
	box-shadow: 0 0 8px rgba(43,224,99,1);
	animation: scale 0.55s ease-in 25ms both, phone-rg 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-rgh{
	box-shadow: 0 0 8px rgba(43,82,224,1);
    background-color: black;
    color: white;
    
}
.phone-rgb{
	box-shadow: 0 0 8px rgba(120,200,208,1);
	animation: scale 0.55s ease-in-out 40ms both, phone-rgb 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-yellow{
	box-shadow: 0 0 8px #f1f424;
	animation: scale 0.55s ease-in-out 40ms both, phone-yellow 3s linear infinite;
    background-color: black;
    color: #fff;
    
}
.phone-rg4{
	box-shadow: 0 0 8px rgb(208,120,151,1);
    background-color: black;
    color: white;
    animation: scale 0.55s ease-in-out 40ms both;
}
.phone-rgb4{
	box-shadow: 0 0 8px rgba(224,43,213,1);
	animation: scale 0.55s ease-in-out 40ms both, phone-rgb4 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-rgg{
	box-shadow: 0 0 8px rgba(224,117,43,1);
	animation: scale 0.55s ease-in-out 40ms both, phone-rgg 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-rgf{
	box-shadow: 0 0 8px rgba(224,43,76,1);
	animation: scale 0.55s ease-in-out 40ms both, phone-rgf 3s linear infinite;
    background-color: black;
    color: white;
    
}
.phone-containerrgb .phone-key p {
    opacity: 0.4;
}
.phone-keyboard .phone-container p, .phone-keyboard .phone-containerrgb p{
    font-size: 0.9rem;
}
.phone-containerrgb .phone-w p, .phone-containerrgb .phone-e p, .phone-containerrgb .phone-r p, .phone-containerrgb .phone-t p, .phone-containerrgb .phone-y p, .phone-containerrgb .phone-u p, .phone-containerrgb .phone-i p, .phone-containerrgb .phone-o p, .phone-containerrgb .phone-f p, .phone-containerrgb .phone-g p, .phone-containerrgb .phone-h p, .phone-containerrgb .phone-j p, .phone-containerrgb .phone-c p, .phone-containerrgb .phone-v p, .phone-containerrgb .phone-b p, .phone-containerrgb .phone-n p{
    background-image: url("../img/giphy.webp");
  background-size: 70px 70px;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent; 
  animation: heartbeat 1.5s ease-in-out infinite both;
  font-weight: 700;
  font-size:1rem;
  opacity:1;
}
.phone-header_right{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.phone-imgleft{
    height: 60px;
    max-width: 200px;
    z-index: 20;
    padding-left: 5px;
}
.phone-imgleft img{
    height: 100%;
    width: 100%;
    z-index: 20;
}
.phone-imgleft-outer{
    height: 60px;
    width: 180px;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 20;
}
.phone-imgleft-outer img{
    height: 100%;
    width: 100%;
    z-index: 20;
}
.phone-header_right{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60px;
   
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 20;
}
.phone-tab>.icon{
    text-decoration: none;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #00000081;
    color: #919191;
    padding:15px 15px;
    letter-spacing: 2px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;  
    box-shadow: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    box-shadow: 0 0 16px rgba(237, 45, 45,1);
    display: flex;
    flex-direction: column;
}
.phone-tab{
    margin: 1rem;
    position: relative;
}
.phone-tab>a{
    text-decoration: none;
}
.phone-dropMenu{
    background-color: #000000cc;
    border-radius: 0 0 7px 7px;
    padding: 15px 0;
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 70px;
    right: 10px;
    height: max-content;
    width: max-content;
    padding: 1rem;
    color: white;
}
#phone-events{
    margin: 0.5em;
    display: none;
    flex-direction: column;
    align-items: left;
    margin-inline-start: 15px;
    gap: 0.5rem;
}

.phone-dropMenu div a{
    text-decoration: none;
    color: rgb(223, 48, 48);
    font-family: 'Graduate', cursive;
    transition: all 0.25s ease-in-out;
}
.phone-dropMenu div a:hover{
    color: rgb(177, 132, 132);
}
.laptop{
    display: none;
}
.phone{
    display: grid;
}
section{
    height: 120%;
    width: 100%;
    background-color: #000000;
    place-items: center;
    position: relative;
    z-index: 2;
}
section.events{
    min-height: 100vh;
    display: none;
    flex-direction: column;
    /* background-image: url("../img/gradient-blue-pink-abstract-art-wallpaper-preview.jpg"), linear-gradient(#eb01a5, #d13531); */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%), url("../img/gradient-blue-pink-abstract-art-wallpaper-preview.jpg") no-repeat center center scroll;
    background-size: 100% 100%;
    padding: 0px 0;
    padding-bottom: 30px;
}
section.events p{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    background-image: url("../img/giphy.webp");
    background-size: 70px 70px;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent; 
    font-weight: 900;
    opacity:1;
    letter-spacing: 3px;
    font-family: Arial;
}

.video-container{ 
   display: none;
   flex-direction: column;
   width: 100%;
   height: 100%;
   background: #ff0084;  
   background: -webkit-linear-gradient(145deg, #020540,#030759,#010326,#79004D);
   background: linear-gradient(145deg,#020540,#030759,#010326,#4C0144,#79004D);
   padding: 0 45px;
   padding-top: 100px;

}
.video-container .rowc{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}
.video-container .rowc iframe{
    z-index: 20;
    display: block;
    width: 80vw;
    height: 70vh;
    margin-top: 75px;
    margin-bottom: 50px;
}
.video-container p{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    background-image: url("../img/giphy.webp");
    background-size: 70px 70px;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent; 
    font-weight: 900;
    opacity:1;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Arial;
}
.video-container .txtbox{
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight:100;
    line-height: 2rem;
}
section.events .row{
    display: flex;
    gap: 0.65em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
}
section.events .row .box{
    width: 300px;
    height: 200px;
    margin: 30px 0;
    border-radius: 12px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: #0007;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    box-shadow: 0 0 16px rgba(237, 45, 45,1);
    transition: all 0.25s ease-in-out;
}
section.events .row .box:hover img{
    transform: scale(0.9);
    filter: grayscale(100);
}
section.events .row .box a{
    text-decoration: none;
}
section.events .row .box a img{
    height: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
div.timeline{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
div.timeline p{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    background-image: url("../img/giphy.webp");
    background-size: 70px 70px;
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent; 
    font-weight: 900;
    opacity:1;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Arial;
}
div.timeline .l-box{
    margin: 30px 0;
    border-radius: 12px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: #0007;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    animation: colorchange 3s alternate-reverse infinite;
    box-shadow: 0 0 16px rgba(237, 45, 45,1);
}
div.timeline .p-box{
    margin-top: -120px;
}
div.timeline .l-box{
    width:1000px;
    height: 400px;
}
div.timeline .l-box{
    display: none;
}
div.timeline .l-box img{
    height: 100%;
    width: 100%;
}
div.timeline .p-box img{
    height: 100%;
    width: 100%;
}
@media (max-width: 1110px) {
    .video-container .rowc {
        flex-direction: column !important;
        align-items: center !important;
        height: 100% !important;
    }
    div.timeline .l-box{
        display: none !important;
    }
    div.timeline .p-box{
        display: block !important;
    }
    .video-container .txtbox {
        margin-left: auto;
        margin-right: auto;
        line-height: 1.75em;
    }
    footer>div{
        font-size: 15px !important;
        padding: 0.25em !important;
    }

}
    
@media (min-width:880px){
    .laptop{
        display: grid;
    }
    .phone{
        display: none;
    }
    section.events .row .box{
        height: 250px;
        width: 450px;
    }
    section.events{
        padding-top: 0px;
    }
    section.events p{
        font-size: 4.5rem;
        margin-bottom: 100px;
    }
    div.timeline{
        padding-bottom: 150px;
    }
    div.timeline p{
        font-size: 4.5rem;
        margin-bottom: 100px;
    }
    div.timeline .l-box{
        display: block;
    }
    div.timeline .p-box{
        display: none;
    }
    .video-container{
        padding-bottom: 50px;
    }
    .video-container .rowc{
        flex-direction: row;
        height: 80vh;
    }
    .video-container .txtbox{
        margin-right: 45px;
    }
    .video-container iframe{
        width: 50%;
        height: 90%;
    }
}
footer a{
    text-decoration: none;
    color: burlywood;
    cursor: pointer;
}
footer a:hover{
    color: rgb(189, 157, 116);
}
footer{
    background: linear-gradient(145deg,#020540,#030759,#010326,#4C0144,#79004D);
    display: none;
    justify-content: space-between;
}
footer>div{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size:19px;
    margin-inline: 0.5em;
    padding: 1rem;
}